.container {
  position: fixed;
  top: unset;
  left: unset;
  bottom: 5%;
  right: 5%;
  margin: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--accent);
  color: var(--panel);
  padding: 4px;
  border-radius: 4px;
  overflow: hidden;
  animation: 300ms ease-out forwards slide-up;
}

.label {
  padding: 12px 8px;
}

.dismiss {
  color: var(--danger);
  font-weight: bold;
  margin: 0 8px;
  padding: 8px;
}
