.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}

.typeSelect {
  width: 200px;
  margin-left: 8px;
}

.controls {
  display: flex;
  align-items: center;
  gap: 8px;
}
