.main {
  display: grid;
  grid-template-columns: 360px 1fr;
  gap: 12px;
  align-items: start;
}

.card {
  background: linear-gradient(180deg, var(--white-4), var(--white-1));
  padding: 16px;
  border-radius: 10px;
  box-shadow: var(--card-shadow);
}
